<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar Venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-chip color="success">
        <ion-icon name="add"></ion-icon>
        <ion-label>Producto</ion-label>
      </ion-chip>
      <ion-chip *ngFor="let category of categorys" color="primary" mode="ios" outline="true">
        <ion-label>{{ category.name }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin">
    <ion-col size="4" *ngFor="let product of products" class="ion-no-padding ion-no-margin">
      <ion-card button (click)="addToCart(product)" class="product-card ion-no-padding">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col size="12" class="ion-no-padding ion-no-margin">
            <ion-img style="height: 60px;" [src]="product.image" alt="{{ product.name }}"></ion-img>
          </ion-col>
          <ion-col size="12" class="ion-no-padding ion-no-margin">
            <p>{{ product.name }}</p>
            <ion-chip [color]="product.stock > 0 ? 'primary' : 'danger'" mode="ios">
              <ion-label>
                {{ product.stock > 0 ? 'Stock ' + product.stock : 'Agotado' }}
              </ion-label>
            </ion-chip>
            <p>Precio: S/{{ product.price }}</p>
          </ion-col>
        </ion-row>
        <!-- Badge individual para cada producto -->
        <div class="product-badge" *ngIf="product.clickCount > 0">
          <ion-icon name="cart-outline"></ion-icon>
          <span>{{ product.clickCount }}</span>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <!-- Botón de Caja -->
      <ion-col size="auto" class="ion-text-center">
        <div>
          <ion-button fill="clear" shape="round" size="large">
            <ion-icon slot="icon-only" name="cash"></ion-icon>
          </ion-button><br>
          <span class="footer-icons">Caja</span>
        </div>
      </ion-col>
      <ion-col size="auto" class="ion-text-center">
        <div>
          <div *ngIf="cartCount > 0" class="badge-cart">
            <span> {{ cartCount }} </span>
          </div>
          <ion-button color="success" shape="round" size="large">
            <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="auto" class="ion-text-center">
        <div>
          <ion-button fill="clear" shape="round" size="large">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button><br>
          <span class="footer-icons">Opciones</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


